.icon_admin {
    background: url(/img/icons/admin.png);
    background-repeat: no-repeat;
}

.icon_alliance {
    background: url(/img/icons/alliance.png);
    background-repeat: no-repeat;
}

.icon_union {
    background: url(/img/icons/union.png);
    background-repeat: no-repeat;
}

.icon_trade {
    background: url(/img/icons/trade.png);
    background-repeat: no-repeat;
}

.icon_enemy {
    background: url(/img/icons/enemy.png);
    background-repeat: no-repeat;
}

.icon_diplomacy {
    background: url(/img/icons/diplomacy.png);
    background-repeat: no-repeat;
}

.icon_raiting {
    background: url(/img/icons/raiting.png);
    background-repeat: no-repeat;
}

.icon_spy {
    background: url(/img/icons/spy.png);
    background-repeat: no-repeat;
}

.icon_army {
    background: url(/img/icons/army.png);
    background-repeat: no-repeat;
}

.icon_resource {
    background: url(/img/icons/resource.png);
    background-repeat: no-repeat;
}

.icon_settings {
    background: url(/img/icons/settings.png);
    background-repeat: no-repeat;
}

.icon_exit {
    background: url(/img/icons/exit.png);
    background-repeat: no-repeat;
}

.icon_rubins {
    background: url(/img/icons/rubins.png);
    background-repeat: no-repeat;
}

.icon_stone {
    background: url(/img/icons/stone.png);
    background-repeat: no-repeat;
}

.icon_steel {
    background: url(/img/icons/steel.png);
    background-repeat: no-repeat;
}

.icon_wood {
    background: url(/img/icons/wood.png);
    background-repeat: no-repeat;
}

.icon_eat {
    background: url(/img/icons/eat.png);
    background-repeat: no-repeat;
}

.icon_gold {
    background: url(/img/icons/gold.png);
    background-repeat: no-repeat;
}

.icon_time {
    background: url(/img/icons/time.png);
    background-repeat: no-repeat;
}

.icon_level {
    background: url(/img/icons/level.png);
    background-repeat: no-repeat;
}

.icon_close {
    background: url(/img/icons/close.png);
    background-repeat: no-repeat;
}
