html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

@import "const";
@import "icons";
@import "admin/init";
@import "libs/init";

* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

* {
    @include no-selected;
}

input, textarea, label {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    user-select: auto;
}

ul, table, tr, td {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%;
    background: url(/img/style/bg.png) repeat;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: url(/img/style/bg.png) repeat;
    font-size: 14px;
    font-family: Calibry;
    cursor: default;
}

a, button, input, label {
    cursor: pointer;
}

h1 {
    padding-left: 5px;
    color: #eee;
    text-shadow: 0px 0px 10px #000;
}

hr {
    height: 0px;
    border-top: #aaa 1px solid;
    border-bottom: #fff 1px solid;
}

.hidden {
    display: none;
}

.separator {
    margin: 2px auto;
    width: 95%;
    height: 3px;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.separator_vertical {
    margin: 0 4px 0 4px;
    width: 2px;
    border-right: 1px solid #CACACA;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.8);
}

.no-selected {
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.selected {
    -o-user-select: auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
}

.reset {
    clear: both;
}

.ui {
    z-index: 25;
}

.input-mini {
    width: 75px;
}

.input-small {
    width: 150px;
}

pre {
    text-shadow: none !important;
}

.close {
    float: right;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 2px 2px 0 0;
    background: url(/img/icons/close.png);
    background-repeat: no-repeat;
}

.error {
    position: absolute;
    top: 0;
    left: 0;
    color: #e11;
    padding: 10px;
    z-index: 100000;
}

.window-glass {
    position: fixed;
    z-index: 25;
    width: 100%;
    height: 100%;
    background: #333334;
    opacity: 0.75;
}

.space {
    height: 15px;
}

.row > .full-height {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cursor_pointer {
    cursor: pointer;
}

.draggable {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

@import "block/init";
@import "elements/init";
@import "user/init";
@import "map/init";
@import "town/init";
@import "equipment/init";