.mpi__footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    .mpi__selected_screen {
        width: 200px;
        height: 200px;
        background: #c6c6c6;
        float: left;
    }

    .mpi__selected_info {
        width: 100%;
        height: 150px;
        background: #e6e6e6;
        margin: 50px 200px 0 200px;

        .menu_interface {
            > div {
                height: 150px;
            }

            .left {
                position: absolute;
                width: 200px;
                padding: 10px;

                .cursor_position {
                    font-size: 16px;
                    text-align: center;
                }
            }

            .center {
                padding: 20px 640px 20px 140px;

                .unit {
                    height: 70px;

                    .general {
                        float: left;
                        margin: 0 20px 0 20px;
                    }

                    .scrolled {

                        ul {
                            white-space: nowrap;
                            li {
                                display: inline-block;
                            }
                        }
                    }
                }
            }

            .right {
                position: absolute;
                right: 200px;
                width: 260px;
                padding: 20px;

                div.buttons {
                    margin-top: -4px;
                    margin-left: 10px;
                    button {
                        margin: 4px;
                    }
                }
            }
        }
    }

    .mpi__minimap {
        width: 200px;
        height: 200px;
        background: #f6a6a6;
        float: right;
    }
}