.nav {
    height: 100%;

    .select-filter-equipment {
        width:100%;

        button {
            width: 18%;
            text-align: center;
        }

        button:last-child {
            width: 11%;
        }
    }

    .select-filter-equipment.unit {
        button {
            width: 25%;
        }
    }

    .select-filter-equipment.armor {
        button {
            width: 20%;
        }
    }

    .equipment-items-wrapper {
        margin-top: -40px;
        padding-top: 40px;
        width: 100%;
        height: 100%;

        .equipments-items {
            height: 100%;
            overflow-y: auto;
            margin-top: 15px;

            .equipment-item {
                background: #eee;
                width: 98%;
                height: 75px;
                margin: 10px 0;

                .preview {
                    padding-left: 0px;

                    img {
                        width: 75px;
                        height: 75px;
                    }
                }

                .name {
                    padding: 8px 4px 2px 24px;
                    font-size: 16px;
                }

                .manipulate {
                    padding-right: 0px;

                    button {
                        margin-left: 24px;
                        margin-top: 18px;
                    }
                }
            }

            .equipment-item:first-child {
                margin-top: 0px;
            }

            .equipment-item:last-child {
                margin-bottom: 0px;
            }

            .active {
                box-shadow: inset 0 0 25px #666;
            }
        }
    }
}


.man {
    height: 100%;
    padding-right: 0;

    h1 {
        margin-top: 0;
    }

    .header-icon-close {
        position: relative;
        top: 7px;
        right: 15px;

        float: right;

        width: 30px;
        height: 30px;
        background: #eee;
        border-radius: 15px;

        cursor: pointer;

        .glyphicon {
            font-size: 28px;
            right: 14px;
            top: 2px;
        }
    }

    .dev-wrapper {
        margin-top: -40px;
        padding-top: 40px;
        width: 100%;
        height: 100%;

        .develop {
            width: 100%;
            height: 100%;
            background: #eee;

            .input-group-addon {
                width: 118px;
                text-align: left;
            }

            .right {
                text-align: right;
            }

            .save {
                position: absolute;
                top: 94%;
            }
        }
    }

    .unit-equipment-wrapper {
        width: 100%;
        height: 100%;

        margin-top: -100px;
        padding-top: 100px;

        margin-bottom: -230px;
        padding-bottom: 230px;

        .unit-equipment {
            height: 100%;

            .cell {
                height: 100%;
            }

            .armors,
            .weapons,
            .weapons-second {
                overflow-y: auto;
                height: 100%;

                .armor,
                .weapon,
                .weapon-second {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;

                    img {
                        float: left;
                        padding-right: 3px;
                    }
                }

                .armor.selected,
                .weapon.selected,
                .weapon-second.selected {
                    background-color: #999;
                }
            }
        }
    }
}

.armor .popup, .weapon .popup, .weapon-second .popup {
    display: none;
    position: fixed;
    z-index: 500;
    padding: 5px;
    width: 400px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #eee;
    box-shadow: 1px 1px 4px #000;
}
