.nav {
    height: 100%;

    .select-filter-weapon {
        width:100%;

        button {
            width: 18%;
            text-align: center;
        }

        button:last-child {
            width: 11%;
        }
    }

    .weapon-items-wrapper {
        margin-top: -40px;
        padding-top: 40px;
        width: 100%;
        height: 100%;

        .weapons-items {
            height: 100%;
            overflow-y: auto;
            margin-top: 15px;

            .weapon-item {
                background: #eee;
                width: 98%;
                height: 75px;
                margin: 10px 0;

                .preview {
                    padding-left: 0px;

                    img {
                        width: 75px;
                        height: 75px;
                    }
                }

                .name {
                    padding: 8px 4px 2px 24px;
                    font-size: 16px;
                }

                .manipulate {
                    padding-right: 0px;

                    button {
                        margin-left: 24px;
                        margin-top: 18px;
                    }
                }
            }

            .weapon-item:first-child {
                margin-top: 0px;
            }

            .weapon-item:last-child {
                margin-bottom: 0px;
            }

            .active {
                box-shadow: inset 0 0 25px #666;
            }
        }
    }
}


.man {
    height: 100%;
    padding-right: 0;

    h1 {
        margin-top: 0;
    }

    .header-icon-close {
        position: relative;
        top: 7px;
        right: 15px;

        float: right;

        width: 30px;
        height: 30px;
        background: #eee;
        border-radius: 15px;

        cursor: pointer;

        .glyphicon {
            font-size: 28px;
            right: 14px;
            top: 2px;
        }
    }

    .dev-wrapper {
        margin-top: -40px;
        padding-top: 40px;
        width: 100%;
        height: 100%;

        .develop {
            width: 100%;
            height: 100%;
            background: #eee;

            .input-group-addon {
                width: 118px;
                text-align: left;
            }

            .right {
                text-align: right;
            }

            .save {
                position: absolute;
                top: 94%;
            }
        }
    }
}