div.cont {
    .army_container.focused .army_image {
        border: 1px solid #efff23;
        border-radius: 5px;
        width: 94px;
        height: 94px;
        margin: -1px 0 0 -1px;
    }

    .army_container {
        width: 114px;
        height: 96px;

        .army_image {
            position: absolute;
            z-index: 25;
            width: 96px;
            height: 96px;
            background-image: url(/img/objects/units/commander.png);
        }

    }

    .army_box {
        width: 140px;
        height: 40px;

        div {
            text-align: center;
        }
    }
}