div.cont {
    .army_container.focused .town_image {
        border: 1px solid #efff23;
        border-radius: 5px;
        width: 112px;
        height: 92px;
        margin: -1px 0 0 -1px;
    }

    .army_container {
        position: absolute;
        width: 114px;
        height: 96px;

        .army_image {
            position: absolute;
            z-index: 25;
            background-image: url("/img/objects/city/castle.png");
            width: 114px;
            height: 96px;
        }

        .army_box {
            width: 140px;
            height: 40px;

            div {
                text-align: center;
            }
        }
    }
}