div.cont {
    .army_container.focused .army_image {
        border: 1px solid #efff23;
        border-radius: 5px;
        width: 94px;
        height: 94px;
        margin: -1px 0 0 -1px;
    }

    .army_container {
        width: 114px;
        height: 96px;

        .army_image {
            position: absolute;
            z-index: 25;
            width: 96px;
            height: 96px;
            background-image: url(/img/objects/units/commander.png);
        }

    }

    .army_box {
        width: 140px;
        height: 40px;

        div {
            text-align: center;
        }
    }

    .unit_move_path {
        background-image: url("/img/texture/path/path.png");
        position: absolute;
        z-index: 41;
        margin: 14px 0 0 14px;
        width: 64px;
        height: 64px;

        &.t {
            background-position: 0px 572px;
        }

        &.tr {
            background-position: 0 508px;
            margin: 48px 0 0 14px;
        }

        &.r {
            background-position: 0 446px;
        }

        &.br {
            background-position: 0 382px;
        }

        &.b {
            background-position: 0 320px;
        }

        &.bl {
            background-position: 0 256px;
        }

        &.l {
            background-position: 0 192px;
        }

        &.tl {
            background-position: 0 128px;
            margin: 48px 0 0 14px;
        }

        &.c {
            background-position: 0 64px;
        }
    }
}