.connect-is-not-estabilished .text {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #d9534f;
    color: #000;

    padding: 30px;

    width: 50%;
    height: 80px;

    text-align: center;

    font-size: 18px;

    box-shadow: 0px 0px 3px #333;
    border-radius: 5px;

    z-index: 10000000;
}

.connect-is-estabilished .text {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #5cb85c;
    color: #000;

    padding: 30px;

    width: 50%;
    height: 80px;

    text-align: center;

    font-size: 18px;

    box-shadow: 0px 0px 3px #333;
    border-radius: 5px;

    z-index: 10000000;
}