.ti__block {
    position: absolute;
    z-index: 26;
    width: 100%;
    height: 100%;

    .left {
        float: left;
        width: 250px;
        height: 100%;
    }

    .right {
        float: right;
        width: 250px;
        height: 100%;
    }

    .middle {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 250px;
    }
}

.window-glass {
    position: fixed;
    z-index: 25;
    width: 100%;
    height: 100%;
    background: #333334;
    opacity: 0.75;
}