.ti__block .left {
    .list_of_builds {
        position: absolute;
        left: 0;
        top: 0;

        width: 250px;

        background: #eee;
        width: 210px;
        padding: 10px;

        .build_container {
            padding: 10px 0;
            border: 1px solid #aaa;

            .name {
                text-align: left;
                font-weight: bold;
                font-size: 16px;

                img {
                    float: right;
                    margin-right: 10px;
                }
            }

            .name.green {
                a {
                    color: #f00;
                }
            }

            .popup {
                display: none;
                position: fixed;
                z-index: 500;
                padding: 5px;
                width: 300px;
                border: 1px solid #333;
                border-radius: 5px;
                background: #eee;
                box-shadow: 1px 1px 4px #000;

                .build-name {
                    text-align: left;
                    font-weight: bold;
                    font-size: 16px;
                }

                .build-detail-info span {
                    display: block;
                    padding: 0 4px 4px 4px;
                    color: #333;
                    font-size: 13px;
                }

                .build-detail-info p {
                    padding: 0 4px 4px 10px;
                    color: #666;
                    font-size: 11px;
                    line-height: 11px;
                }

                .build-price {
                    span {
                        display: inline-block;
                        padding: 5px 0px 0px 26px;
                        width: 110px;
                        height: 22px;
                        background-repeat: no-repeat;
                        font-size: 11px;
                        line-height: 8px;
                    }

                    .time {
                        width: 100%;
                    }
                }
            }
        }
    }

    .list_of_progress_builds {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 250px;

        .nextBuilds {
            height: 20px;

            .triangle {
                margin: 0 auto;
                width: 0;
                height: 0;
                border-left: 80px solid transparent;
                border-right: 80px solid transparent;
                border-bottom: 15px solid #0088cc;
            }

            .popup {
                display: none;

                position: fixed;
                left: 0;
                bottom: 174px;

                background: #eee;
                width: 220px;
                z-index: 500;

                border-radius: 0px 0px 5px 0px;
                box-shadow: 1px 1px 4px #000;
                padding: 5px;

                .content {
                    padding: 5px;

                    .block {
                        .name {
                            font-size: 16px;
                            padding-top: 5px;
                            float: left;
                        }

                        .cancel {
                            float: right;
                            padding-top: 5px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }

        .buildInProgress {
            .name {
                font-size: 18px;
                text-align: center;
            }

            .image {
                width: 200px;
                height: 100px;
            }

            .completeBar {
                .progress {
                    height: 7px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .background {
        background: #eee;
        width: 210px;
        height: 100%;
        padding: 10px;
    }

    .background.top {
        border-radius: 0 0 5px 0px;

        .content {
            position: relative;
            top: 250px;
        }
    }

    .background.bottom {
        border-radius: 0 5px 0 0;
    }
}
