.ti__block .middle {
    .towns_move {
        padding: 10px 0 0 0;

        .prev_town {
            position: absolute;
            width: 250px;
            height: 40px;
            text-align: left;

            .name_left {
                cursor: pointer;
                font-size: 18px;
                background: #eee;
                padding: 10px 0 10px 10px;
                border-radius: 95px 0 0 95px;
            }
        }

        .next_town {
            position: absolute;
            right: 500px;
            width: 250px;
            height: 40px;
            text-align: right;


            .name_right {
                cursor: pointer;
                font-size: 18px;
                background: #eee;
                padding: 10px 10px 10px 0;
                border-radius: 0 95px 95px 0;
            }
        }

        .current_town_name {
            padding: 0 750px 0 250px;
            text-align: center;

            .name {
                font-size: 30px;
                background: #eee;
                padding: 1px 7px 0px 0px;
                margin: 0 4px;
                border-radius: 5px;
                height: 45px;

                .close {
                    margin-top: 11px;
                }
            }
        }
    }

    .town_info {
        .buttons {
            text-align: center;
            button {
                width: 20%;
                height: 50px;
                margin: 4px;
            }
        }

        .resources {

        }
    }

    .bottom_block {
        position: absolute;
        bottom: 10px;
        width: 100%;

        .wrap {
            .parking_generals {
                .background {
                    background: #eee;
                    padding: 10px;
                    border-radius: 10px;
                    height: 111px;
                }

                ul {
                    white-space: nowrap;

                    li {
                        display: inline-block;
                        width: 96px;
                        height: 96px;
                    }
                }
            }

            .generals_list {
                .background {
                    background: #eee;
                    padding: 10px;
                    border-radius: 10px;
                    height: 111px;
                }

                ul {
                    white-space: nowrap;

                    li {
                        display: inline-block;
                        width: 96px;
                        height: 96px;
                    }
                }
            }

            .soliders_list {
                .background {
                    background: #eee;
                    padding: 10px;
                    border-radius: 10px;
                    height: 111px;
                }

                ul {
                    white-space: nowrap;

                    li {
                        display: inline-block;
                        width: 96px;
                        height: 96px;
                    }
                }
            }
        }
    }

    .ti__middle_element {
        padding: 20px 500px 0 0;
    }
}