.ti__block .right {
    .list_of_units {
        position: absolute;
        right: 0;
        top: 0;
        width: 210px;
        padding: 10px;
        z-index: 2;

        .units_container {
            padding: 4px 0;

            .name {
                text-align: left;
                font-weight: bold;
                font-size: 16px;
                width: 100%;

                img {
                    float: right;
                    margin-right: 0px;
                    margin-top: 3px;
                }
            }

            .popup {
                display: none;
                position: fixed;
                z-index: 500;
                padding: 5px;
                width: 500px;
                border: 1px solid #333;
                border-radius: 5px;
                background: #eee;
                box-shadow: 1px 1px 4px #000;
                z-index: 250;
            }
        }
    }

    .list_of_progress_units {
        position: absolute;
        right: -9px;
        bottom: 0;
        height: 200px;
        width: 250px;
        z-index: 1;

        .nextBuilds {
            height: 20px;

            .triangle {
                margin: 0 auto;
                width: 0;
                height: 0;
                border-left: 80px solid transparent;
                border-right: 80px solid transparent;
                border-bottom: 15px solid #0088cc;
            }

            .popup {
                display: none;

                position: fixed;
                left: 0;
                bottom: 174px;

                background: #eee;
                width: 220px;
                z-index: 500;

                border-radius: 0px 0px 5px 0px;
                box-shadow: 1px 1px 4px #000;
                padding: 5px;

                .content {
                    padding: 5px;

                    .block {
                        .name {
                            font-size: 16px;
                            padding-top: 5px;
                            float: left;
                        }

                        .cancel {
                            float: right;
                            padding-top: 5px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }

        .buildInProgress {
            .name {
                font-size: 18px;
                text-align: center;
            }

            .image {
                width: 200px;
                height: 100px;
            }

            .nothing-builds {
                font-size: 18px;
                text-align: center;
            }

            .completeBar {
                .progress {
                    height: 7px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .background {
        background: #eee;
        width: 220px;
        height: 100%;
        margin-left: 20px;
        padding: 10px 0 10px 10px;
    }

    .background.top {
        border-radius: 0 0 0 5px;

        .content {
            position: relative;
            top: 250px;
        }
    }

    .background.bottom {
        border-radius: 5px 0 0 0;
    }
}