.ti__block .right {
    .list_of_units {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 250px;
        padding-top: 250px;
        margin-top: -500px;
        z-index: 1;
    }

    .list_of_progress_units {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 200px;
        width: 250px;
        z-index: 2;
    }

    .background {
        background: #eee;
        width: 220px;
        height: 100%;
        margin-left: 20px;
        padding: 10px 0 10px 10px;
    }

    .background.top {
        border-radius: 0 0 0 5px;

        .content {
            position: relative;
            top: 250px;
        }
    }

    .background.bottom {
        border-radius: 5px 0 0 0;
    }
}