.ti__block .right {
    .list_of_units {
        position: absolute;
        right: 0;
        top: 0;
        width: 210px;
        padding: 10px;
        z-index: 1;

        .units_container {
            padding: 4px 0;

            .name {
                text-align: left;
                font-weight: bold;
                font-size: 16px;
                width: 100%;

                img {
                    float: right;
                    margin-right: 0px;
                    margin-top: 3px;
                }
            }

            .popup {
                display: none;
                position: fixed;
                z-index: 500;
                padding: 5px;
                width: 300px;
                border: 1px solid #333;
                border-radius: 5px;
                background: #eee;
                box-shadow: 1px 1px 4px #000;
            }
        }
    }

    .list_of_progress_units {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 200px;
        width: 250px;
    }

    .background {
        background: #eee;
        width: 220px;
        height: 100%;
        margin-left: 20px;
        padding: 10px 0 10px 10px;
    }

    .background.top {
        border-radius: 0 0 0 5px;

        .content {
            position: relative;
            top: 250px;
        }
    }

    .background.bottom {
        border-radius: 5px 0 0 0;
    }
}