div.unitsWrap {
    margin-top: 10px;
    width: 100%;
    overflow: auto;

    ul.units {
        float: left;
        white-space: nowrap;
        height: 140px;

        .popover {
            width: 500px;
            max-width: none;
        }

        li {
            display: inline-block;
            width: 116px;
            height: 116px;
            background: #ccc;
            margin: 1px 3px;

            img {
                width: 116px;
            }

            .popup {
                display: none;
                position: fixed;
                bottom: 210px;
                z-index: 500;
                padding: 5px;
                width: 420px;
                border: 1px solid #333;
                border-radius: 5px;
                background: #eee;
                box-shadow: 1px 1px 4px #000;
            }

            .popover {
                display: none;
                position: fixed;
                bottom: 210px;
                z-index: 500;
                padding: 5px;
                width: 620px;
                height: 420px;
                border: 1px solid #333;
                border-radius: 5px;
                background: #eee;
                box-shadow: 1px 1px 4px #000;

                @import "unitsDetailPopover";
            }
        }

        li.active {
            border: 1px solid #ffff00;
            margin: 0 3px;
        }

    }
}

ul.actions {
    li {
        color: white;
        margin-right: 7px;
        margin-left: 7px;
        cursor: pointer;
        width: 24px;
        display: inline;
        font-size: 24px;

        .popover {
            cursor: default;
            display: none;
            position: fixed;
            bottom: 210px;
            z-index: 500;
            padding: 5px;
            width: 210px;
            border: 1px solid #333;
            border-radius: 5px;
            background: #eee;
            box-shadow: 1px 1px 4px #000;
            height: 72px;

            color: #000;
            font-size: 14px;

            text-align: center;

            .split-help-number {
                position: relative;
                top: -9px;
                display: inline-block;
                width: 25px;
            }

            .select-split {
                display: inline;
                width: 120px;
            }
        }

        .popover.split-block {
            height: 72px;
        }

        .popover.dissolution-block {
            height: 90px;
        }
    }

    li.disabled {
        color: gray;
        cursor: default;
    }
}
