ul {
    padding: 1px;
}

ul.destinated {
    padding: 0px;
    border: 1px solid #00d6b2;
}

ul {
    li, commander {
        width: 64px;
        height: 64px;

        .popup {
            display: none;
        }
    }
}

img {
    width: 64px;
}


.base-commander {
    @include dynamic-left-floating(140px);
    height: 128px;

    .items .wrap-buffer .buffer {
        padding-right: 20px;

    }
}

.base-subordinates {
    @include dynamic-left-floating(100px);
    height: 128px;
}

.base-soliders {
    @include dynamic-left-floating(100px);
}